*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
}

.main{
	position: absolute;
	top:30%;
	left: 50%;
	transform: translateX(-50%);
	background-color: red;
	height:250px;
	width:250px;
	position: relative;
}


.heading{
	position: absolute;
	margin-top: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.name{
	margin-top: 60px;
	height:30px;
	margin-bottom: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	border:none;
	outline: none;
	text-align: center;
}

.pwd{
	margin-top: 90px;
	height:30px;
	margin-bottom: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	border:none;
	outline: none;
	text-align: center;
}

.submit{
	margin-top: 120px;
	height:30px;
	margin-bottom: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	width:100px;
	border:none;
	cursor: pointer;
	background:none;
	background-color: #fff;
}
